* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #000000;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  overflow: hidden;
}

button[data-start]:disabled {
  background-color: #cccccc;
  color: #7d7575;
  cursor: not-allowed;
}

button[data-start]:not(:disabled):hover {
  background-color: #45a049;
}

button[data-stop]:hover {
  background-color: #f44336;
}

.input {
  margin: 0;

  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 20;
  text-align: center;
}

.value {
  font-size: 36px;
  font-weight: bold;
  color: #45a049;
}

.label {
  font-size: 16px;
  color: #555;
}
